{% extends 'films/layoute.html' %}  <!-- Убедитесь в правильности имени layout файла -->

{% block title %}
    <title>Страница для добавления фильмов</title>
{% endblock %}

{% block content %}
<h1>Страница для добавления фильмов</h1>
    <div>
        <form method="post" class="p-3">
                {% csrf_token %}
            <div class="mb-3">
                {{ form.title}}
            </div>
            <div class="mb-3">
                {{ form.description_film }}
            </div>
            <div class="mb-3">
                {{ form.feedback_film }}
            </div>
            <div class="mb-3">
                {{ form.author }}
            </div>
            <div class="mb-3">
                {{ form.pub_date }}
            </div>
            <button type="submit" class="btn btn-primary">Добавить фильм</button>
        </form>
        <p>{{error}}</p>
    </div>

{% endblock %}